.table-bordered{
	border-collapse:collapse !important;
	text-align:center;
}

.table-bordered th{
	text-align:center;
}

input[type=search] {
	-webkit-appearance: textfield;
    -moz-appearance: textfield;
}

.dataTables_wrapper{
	margin-left:10px;
	margin-right:10px;
}