footer {
	position: relative;
	height: 30px;
	width: 100%;
	background-color: #222;
	padding-top:10px;
}

p.copyright {
	vertical-align:middle;
	position: absolute;
	width: 100%;
	color: #fff;
	font-size: 0.7em;
	text-align: center;
	bottom:0;
}